// @function px2rem($px) {
//     @if $px==0 {
//       @return 0;
//     }
//     @return $px / 1920 * 100vw;
// }

@function px2rem ($px) {
    @if expr {
        
    }

    @return $px / 75 * 1rem;
}
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
}